{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 0,
    "quotes": 0,
    "prettier/prettier": ["error", { "singleQuote": false }]
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "999.999.99"
    }
  }
}
